body {
  background:#030016;
  color: #e5e7eb;  
}

a{
    color: #fff;
    text-decoration: none;
}
section {
  scroll-margin-top: 90px;
}

.navbar{
    position: fixed;
    left: 0;
    top:0;
     height: 50px;
     z-index: 1000;
    width:100%;
    padding-right: 100px;
    background:#0e0429 ;
    display :flex;
    justify-content: flex-end;
    align-items:center;
    margin-right: 10px;
}
.navbar ul{
    display: flex;
    padding-right: 20px;
}
.navbar ul li{
    list-style:none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a{
    color: rgb(197, 241, 36);
}
.navbar ul li a.active{
    color:aqua;
}
.Profile-photo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:25px;
}
.Profile-photo img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 0px;
    border: 8px solid rgb(48, 48, 49);
}
#name{
    font-size:45px;
    font-weight: bolder;
    font-family: "inter";
    padding-right: 55px; 
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; 
    color: #fff;
    padding-left: 50px;
    gap: 50px;
}
.home-info{
    max-width: 600px;
    margin-top: 100px;
}
.home-info h2{
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 10px;
}

#intro{
    font-size: 28px;
    line-height: 29px;
    margin-bottom: 10px;
}
.University{
    font-size: 18px;
    line-height: 24px;
}
#CV{
   display: inline-block;
   height: 30px;
   width: 120px;
   background-color: #21790B;
   border-radius: 15px;
   font-size: 20px;
   padding: 8px 15px;
   margin-top: 20px;
}
#CV:hover {
  background-color: #22c55e; /* subtle green */
}

.sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #ffffff22;   
    border-radius: 50%;      
    margin-right: 10px;
    transition: .3s;
}
.sci a i {
    font-size: 22px;
    color: #fff;
}
.sci a:hover {
    background: #22c55e;   
}

.sci {
    margin-top: 30px; 
}
.heading-color{
    color: aqua;
    text-align: center;
    font-weight: bolder;
    margin-bottom:60px ;
}
.boardxm{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 160px;
    height: 150px;
    width: 780px;
    padding-left: 2%;
    background-color: #024d50;
    border-radius: 15px;
    border-left:4px solid #eee;
    transition: all 0.4s ease;  
}
.boardxm:hover {
    border-left: 6px solid #98d2e9; /* hover accent blue */
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.Education-info{
    color: #fff;
     width: 80%;
  margin: 0 auto;
  transform: translateX(45px);
  transform: translateY(70px);
}
.descripttion {
font-size: 18px;
font-weight: lighter;
 color: #e5e7eb;
}
.Project-info {
  display: flex;
  justify-content: center;
  gap: 30px;              
  flex-wrap: wrap;       
  margin-top: 120px;
}

.project-topic {
  width: 260px;
  height: 340px;
  background-color: rgb(202, 190, 228);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  box-sizing: border-box;
  transition: transform 0.3s;
}
.project-topic:hover {
  transform: translateY(-10px);
}
.project-topic img {
  width: 105%;
  height: 250px;       
  object-fit: cover;  
  border-radius: 15px;
}
.project-topic p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #070327;
  margin: 5px 0 0;
}
#pro{
    margin-top: 110px;
}
#achieve{
    margin-top: 10%;
}
.achievement {
  padding: 120px 80px;
  color: #fff;
}

.Achievement-info {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.a-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.achievement-box {
  background:  linear-gradient(135deg, #0f172a, #1e293b);/* rgba(255, 255, 255, 0.05)#0f172a*/;
  border-left: 5px solid #7CFF4E;
  color: #e5e7eb;
  border-radius: 15px;
  padding: 20px 25px;
  min-height: 110px;
  transition: all 0.4s ease;
}

.achievement-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.4);
  border-left: 6px solid aqua;
}

.achievement-box p {
  font-size: 17px;
  line-height: 1.5;
}

.Publication-info
{
    color:#1d1c1c;
    font-size: 18px;
    text-align: center;
     background-color:#ece5e5;
     width: 300px;
     height: 180px;        
  margin-top: 20%;    
       margin-left: 40%;
       margin-bottom: 15%;         
  border-radius: 8px;
  border-left: 4px solid #7CFF4E;  
  line-height: 1.6;
}
#pub
{
    margin-top: 10%;
}
.Blog-info
{
   color:#161414;
    font-size: 18px;
    text-align: center;
     
     background-color:#ece5e5;
     width: 300px;        
  margin-top: 20%;    
       margin-left: 40%;
       margin-bottom: 15%;
  border-radius: 8px;
  border-left: 4px solid #7CFF4E;  
  line-height: 1.6;
}
#blog
{
     margin-top: 10%;
}
#about-dis{
  text-align: center;
  color:#e5e7eb ;
  font-size: 20px; 
  max-width: 900px;
  margin: 40px auto;
  line-height: 1.7;
  display:block;
  
}
.about{
  margin:80px auto
}
.skills-info
{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.skills-info div {
  background: #0f172a;
  border-left: 4px solid #41E418;
  padding: 20px;
  font-size: 30px;
  color: #fff;
  border-radius: 10%;
   
}
.skill-box{
  height: auto;
  width: 230px;
  padding: 20px;
  text-align: center;
  text-align: center;
  background: #0f172a;
  border-left: 4px solid #41E418;
  border-radius: 16px;
  transition: all 0.4s ease;
  color:antiquewhite;
}
.skill-box:hover{
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.skill-item{
  font-size: 20px;
  font-weight: lighter;
}
#solving-rating{
  font-size: 42px;
  color:#41E418 ;
  text-align: center;
}
#handle{
font-size: 16px;
color:#94a3b8;
}
#get-in-t
{
  margin-top: 45px;
}
#contact-dis
{
  text-align: center;
  color: #fff;
  font-size: x-large;
 
  transform: translateX(40px,30px);
  display:block;
  justify-content: center;
  
}
.contact-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
  flex-wrap: wrap;
}
.contact-card{
  background: rgba(255,255,255,0.06);
  padding: 35px;
  border-radius: 30px;
  width: 420px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea{
  background:#8f8e8e;
  border: none;
  outline: none;
  padding: 14px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
  color: #eee;
}

.contact-form button{
  width: 120px;
  align-self: center;
  margin-top: 15px;
  background: aqua;
  color: #000;
  border: none;
  padding: 12px;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s;
}

.contact-form button:hover{
  transform: translateY(-5px);
}

.contact-details h3{
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

.contact-item{
  display: flex;
  align-items: center;
  gap: 15px;
  background: #8f8e8e;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #fff;
}

.contact-item i{
  font-size: 22px;
  color: #000;

}
.contact-item :hover{
  color: #000;
  transform: translateY(-10px);
}
