body{
    background-color: #070327;
}
a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    padding-right: 100px;
    background: #46454D;
    display :flex;
    justify-content: flex-end;
    align-items:center;
    margin-right: 10%;
}
.navbar ul{
    display: flex;
    padding-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    /* Home Education Project Achievement Publication Blog About Contact */
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a{
    color: burlywood;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color:#fff
}
#name{
    font-size:48px;
    font-weight: bolder;
    font-family: "inter";
    padding-right: 40px; 
}
.home {
    display: flex;
    justify-content: flex-end;  /* ব্লককে right এ নেবে */
    padding-right: 80px;        /* right থেকে gap */
    padding-top: 120px;
    
}

.home-info {
position: absolute;
width: 729px;
height: 262px;
left: 671px;
top: 382px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
color: #FFFFFF;
padding-right: 40px;
        margin-top: 80px;
}
.homeinfo{
    
    line-height: 25px;    
    font-size: 23px;      
     margin-top: -5px;    
}
#CV{
   display: inline-block;
   height: 40px;
   width: 150px;
   background-color: #21790B;
   border-radius: 15px;
   font-size: 20px;
   padding: 8px 15px;
   margin-top: 20px;
}
.sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #ffffff22;   /* হালকা white transparent bg */
    border-radius: 50%;      /* circle */

    margin-right: 10px;
    transition: .3s;
}
.sci a i {
    font-size: 22px;
    color: #fff;
}
.sci a:hover {
    background: burlywood;   /* hover করলে color change */
}
.sci a:hover i {
    color: #070327; /* hover এ icon color change চাইলে */
}
.sci {
    margin-top: 30px; /* CV button-এর নিচে সুন্দর gap */
}
.Image{
    /* Ellipse 1 */

position: absolute;
width: 330px;
height: 330px;
left: 70px;
top: 237px;

background: #D9D9D9;

}

